body {
    font-family: Roboto,
        sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
}


ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.address {
    font-style: normal;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/*                  HEADER MOBILE STYLES                */


.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
        border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo-web {

    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: block;

}

.logo-studio {
    color: #2E2F42;

}

.header-nav-bar {
    margin-right: auto;
    
}

.mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    display: block;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999;
    background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: transparent;
    border-radius: 50%;
    padding: 8px;
    line-height: 0;
    display: block;
    margin-top: 24px;
    margin-right: 8px;
}

.mobile-menu-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 72px;
    margin-bottom: 41px;
    
}

.mobile-menu-list-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
}

.mobile-menu-list-item:first-child .mobile-menu-list-link {
    color: #404BBF;
}

.mobile-contacts-list {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 42px;
}

.mobile-contacts-link {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
 
.mobile-contacts-item:first-child .mobile-contacts-link {
    color: var(--IRIS, #4D5AE5);
}

.mobile-social-list {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 48px;
}

.mobile-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5
}

.mobile-social-list-item {
    width: 40px;
    height: 40px;
}

.website-icon {
    fill: #F4F4FD;
}

/*            MOBILE HERO SECTION         */
.hero-section {
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-backgroud1px.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 72px;
    padding-bottom: 72px;
    min-height: 432px;
    min-width: 320px;
    margin: 0 auto;
}

@media (min-resolution: 192dpi), screen and (min-resolution:2ddpx),
screen and (min-device-pixel-ratio: 2) {
    .hero-section {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-background@2x.jpg);
    }
}

.hero-title {
    max-width: 289px;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto;
  
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 72px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

/*             MOBILE  BENEFITS SECTION               */
.benefits-section {
    background: #FFFFFF;
    padding: 96px 0;
}

.benefits-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    
}

.benefits-list-item-name {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}


.benefits-list-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
    margin: 0 auto;
    gap: 8px;
   
}

/*               MOBILE TEAM SECTION            */
.team-section {
    background-color: #F4F4FD;
    padding: 96px 0;
    flex-shrink: 0;
}

.team-section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

.team-name-position {
    padding: 32px 0;
}

.team-list-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}

.team-list-item-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.icon-color {
    width: 40px;
    height: 40px;
}

.team-icon-websites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.team-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.website-icon {
    fill: #F4F4FD;
}

/*             MOBILE PORTFOLIO SECTION           */
.portfolio-section {
    background-color: #FFFFFF;
    padding: 96px 0 96px 0;
}

.portfolio-section-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.portflio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    margin-left: auto;
    margin-right: auto;
}

.portflio-list-item {
    background-color: #FFFFFF;
    
}

.porflio-products {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portflio-list-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portflio-list-item-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*              MOBILE FOOTER SECTION             */
.footer-section {
    background-color: #2E2F42;
    padding-top: 98px;
    padding-bottom: 96px;
    flex-shrink: 0;
}

.footer-logo-studio {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
}

.footer-logo-web {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-media {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 72px;
    margin-bottom: 16px;
   
}

.social-link-list.footer-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5
}

.team-icon-websites.footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-color {
    background-color: #4d5ae5;
    border-radius: 50%;
}

.subscribe-form-input-wrapper {
    display: flex;
    align-items: center;
}

.subscribe-form-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 72px;
   
}

.subscribe-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    flex-shrink: 0;
    
}

.subscribe-form-field {
    max-width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
  
}

.subscribe-form-field::placeholder {
    color: var(--WHITE, #FFFFFF);
}

.subscribe-btn {
    display: flex;
    font-family: "Roboto", sans-serif;
    padding: 8px 24px;
    margin-top: 16px;
    border-radius: 4px;
    border: none;
    background-color: var(--IRIS, #4D5AE5);
    max-width: 165px;
    height: 40px;
    color: var(--WHITE, #ffffff);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
}

.subscribe-form-field-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

/*                    MOBILE BACKDROP SECTION                */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}


.modal-close-button { 
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    border-radius: 50%;
    padding: 0px;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-form-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 16px;
}

.modal-close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:hover .modal-close-button-icon use,
.modal-close-button:focus .modal-close-button-icon use {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}


.contacts-form-wrapper {
    margin-bottom: 8px;
}

.comment {
    margin-bottom: 16px;
}

.contacts-form-input-wrapper {
    position: relative;
}

.contacts-form-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE, #8E8F99);
    margin-bottom: 4px;
}

.contacts-form-field {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding-left: 34px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-field:focus {
    border-color: var(--IRIS, #4D5AE5);
    outline-offset: 4px;
}

.contacts-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-field:focus+.contacts-form-field-icon {
    fill: #4D5AE5;
}

.contacts-form-comment {
    width: 256px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.contacts-form-comment:focus {
    border-color: #4D5AE5;
    outline-offset: 4px;
}

.contacts-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.contacts-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE, #8E8F99);

}

.privacy-policy-link {
    text-decoration-line: underline;
    color: var(--IRIS, #4D5AE5);
}

.contacts-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    stroke-width: 1px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-checkbox:checked+.contacts-form-checkbox-label .contacts-form-own-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.contacts-form-checkbox:focus+.contacts-form-checkbox-label .contacts-form-own-checkbox {
    outline: 1px solid #404BBF;
}

.contacts-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-btn:hover,
.contacts-form-btn:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 289px;
        }

    .page-header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .navigation-list {
        display: none;
    }
    
    .address-list {
        display: none;
    }

    .hero-section {
        min-height: 432px;
        min-width: 320px;
    }

    .hero-title {
        text-transform: capitalize;
    }

    .benefits-icon {
        display: none;
    }

    .team-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
}
    .overlay {
        display: none;
    }

    .subscribe-form-field {
        width: 100%;
    }

    .benefits-list-item-name {
        text-align: center;
    }

    .footer-media {
         text-align: center;
    }

    .subscribe-form-label {
         text-align: center;
    }
    
}


/*                     TABLET STYLES               */
@media screen and (min-width: 768px) {
    .container {
        width: 736px;
        
    }
    
        /*                  HEADER TABLET STYLES               */

    .page-header {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                    0px 1px 1px rgba(46, 47, 66, 0.16),
                    0px 1px 6px rgba(46, 47, 66, 0.08);
        border-bottom: 1px solid #e7e9fc;
    }
        

    .studio,
    .portfolio,
    .contacts {
        padding: 120px 0;
    }

    .header-nav-bar {
        display: flex;
        align-items: center;
    }

    /*                TABLET NAVIGATION STYLES          */
    .navigation {
    margin-top: 24px;
    }

    .navigation-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        position: relative;     
        }

    .navigation-link-item-name {
        color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        padding: 24px 0;
        display: block;
        }
        
    .current-page {
        position: relative;
        color: #404bbf;
        }
        
    .navigation-link-item-name.current-page::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        color: #404BBF;
        display: block;
        }

        /*               TABLET ADDRESS STYLES           */
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        }

    .address-list-item-name {
        color: #434455;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.04em;
        display: block;
        }

    .mobile-menu {
        display: none;
    }

    .mobile-open-btn {
        display: none;
    }

    /*                   TABLET HERO SECTION              */
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-background-tablet.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }

    @media (min-resolution: 192dpi),
    screen and (min-resolution:2ddpx),
    screen and (min-device-pixel-ratio: 2) {
                .hero-section {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                        url(../images/hero-background-tablet@2x.jpg);
                }
    }
    
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
    }

    .hero-button {
        margin-top: 36px;
    }

    /*               TABLET BENEFITS SECTION               */
.benefits-icon {
    display: none;
}

.benefits-list {
    flex-wrap: wrap;
    column-gap: 24px;
    flex-direction: row;
    justify-content: space-between;
}

   
.benefits-list-item-name {
        width: 264px;
}

.benefits-list-item-text {
        align-self: stretch;
        width: 356px;
}

    /*                   TABLET TEAM SECTION                */
.team-list {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
}

/*                   TABLET PORTFOLIO SECTION                */
.overlay {
    display: none;
}

.portflio-list {
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
    
}

.portflio-list-item {
    flex-basis: calc((100% - (24px * 3)) / 2);
}
  
/*                  TABLET FOOTER SECTION                */
.container.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 24px;
    justify-content: center;

}

.footer-left {
    margin-right: 24px;
}

.subscribe-form-wrapper {
    justify-content: center;
   
}

.subscribe-form {
    flex-direction: row;

}

.subscribe-form-field {
    width: 264px;
   
}

/*                  TABLET BACKDROP                   */
.modal {
    width: 408px;
    min-height: 584px;
    padding-left: 23px;
    padding-right: 25px;
}

.contacts-form-field {
    width: 360px;
}

.contacts-form-comment {
    width: 360px;
}




/*                DESKTOP HEADER STYLES               */

@media screen and (min-width: 1158px) {
.container {
    width: 1129px;
}


/*                   DESKTOP HEADER              */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*                DESKTOP NAVIGATION STYLES          */
.navigation-link-item-name {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-item-name:hover,
.navigation-link-item-name:focus {
    color: #404BBF;
}

/*                  DESKTOP ADDRESS                 */
.address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.address-list-item-name {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item-name:hover,
.address-list-item-name:focus {
    color: #404BBF;
}

button {
    cursor: pointer;
}


/*            DESKTOP HERO SECTION              */
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-background-desktop.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
}

@media (min-resolution: 192dpi),
screen and (min-resolution:2ddpx),
screen and (min-device-pixel-ratio: 2) {
    .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-background-desktop@2x.jpg);
    }
}

.hero-button {
    margin-top: 48px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}


/*              DESKTOP BENEFITS SECTION              */
.benefits-section {
    padding: 120px 0;
}

.benefits-list {
    flex-wrap: nowrap;
    width: calc(100%-(24*3)/4);
}

.benefits-icon-container {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.benefits-list-item-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-list-item-text {
    width: 264px;
    font-weight: 400;
}

.benefits-icon {
    display: flex;
}

/*               DESKTOP TEAM SECTION               */
.team-section {
    padding: 120px 0;
}

.team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-link-icon {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: #404BBF;
}

/*                DESKTOP PORTFOLIO SECTION           */
.portfolio-section {
    padding: 120px 0 120px 0;
    }

.porfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .portflio-list-item {
        flex-basis: calc(33.33% - 16px);
        margin-bottom: 48px;
    }
    
}

.portflio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portflio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
    display: flex;
}

.overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--IRIS, #4D5AE5);
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;

}

.portflio-list-item:hover .overlay {
    transform: translateY(0%);

}

/*                        DESKTOP FOOTER             */
.footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.social-link-list.footer-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-list:hover,
.social-link-list:focus {
    background-color: #31d0aa;
}

.container.flex {
    display: flex;
    align-items: baseline;
}

.footer-right {
    margin: 0 auto;
}

.subscribe-form {
    display: flex;
   column-gap: 24px;
    flex-direction: row;
}

.subscribe-btn {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}

/*                   DESKTOP BACKDROP                    */
.modal {
    padding: 72px 24px 24px 24px;
}

.contacts-form-input-wrapper {
    margin-bottom: 16px;
}

.contacts-form-field {
    padding-left: 38px;
}

.contacts-form-own-checkbox {
    margin-bottom: 24px;
}

}