body {
    font-family: Roboto,
        sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
}


ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


/* ------------------- HEADER  ------------------ */
.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

 .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
} 

.studio,
 .portfolio,
 .contacts {
     padding: 120px 0;
     
 } 


.header-nav-bar {
    display: flex;
    align-items: center;
}


/* ----- LOGO STYLE ---- */
.logo-web {
   
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: block;
    
}

.logo-studio {
    color: #2E2F42;
    
}


/*----- NAVIGATION ----- */
.navigation {
    margin-top: 24px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    position: relative;
    
}

.navigation-link-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-item-name:hover,
.navigation-link-item-name:focus {
    color: #404BBF;
}

.current-page{
    position: relative;
    color: #404bbf;
}


.navigation-link-item-name.current-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:#404BBF;
    color: #404BBF;
    display: block;
}


/* ----- ADDRESS ------ */
.address {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 40px;
    
}

.address-list-item-name {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-list-item-name:hover,
.address-list-item-name:focus {
    color: #404BBF;
}


/* ----------- HERO SECTION ---------- */
.hero-section {
    background: #2E2F42;
background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
        background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
  
}

.hero-title {
    width: 496px;
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}

.hero-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff
    
}


.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero-button-name {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    white-space: nowrap;
    text-align: center;
}



/* ------------- BENEFITS SECTION ---------- */
.benefits-section {
    background: #FFFFFF;
    padding: 120px 0;

}

.benefits-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    width: calc(100%-(24*3)/4);
}

.benefits-icon-container {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 8px;
}



.benefits-list-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    width: 264px;   
}


.benefits-list-item-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}




/* ------------- TEAM SECTION ------------ */
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
    flex-shrink: 0;
}


.team-section-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.team-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-right: 24px;
}

.team-list-item:last-child {
    margin-right: 0;
}

.team-name-position {
    padding: 32px 0;
}

.team-list-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}

.team-list-item-text {
    color: #434455;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


.icon-color {
    width: 40px;
    height: 40px;
}

.team-icon-websites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

  .team-link-icon{
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.website-icon {
    fill: #F4F4FD;
}

.team-link-icon:hover,
.team-link-icon:focus{
background-color: #404BBF;
}


/* ----------- PORTFOLIO SECTION ---------- */
.portfolio-section {
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
}

.portfolio-section-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.portflio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-left: auto;
    margin-right: auto;

}

.portflio-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) /3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portflio-list-item:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.porflio-products {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portflio-list-item-name {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portflio-list-item-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.overlay-wrapper{
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--IRIS, #4D5AE5);
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    
}

.portflio-list-item:hover .overlay{
    transform: translateY(0%);
    
}

/* -------------- FOOTER SECTION ------------ */
.footer-section {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-shrink: 0;

}


.footer-logo-studio {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
} 


 .footer-logo-web {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
} 


.footer-text {
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}


.container.flex {
    display: flex;
     align-items: baseline;
}


.team-icon-websites.footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-media {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-link-list.footer-link {
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5
}


.footer-color{
background-color: #4d5ae5;
border-radius: 50%;

}

.social-link-list:hover,
.social-link-list:focus {
    background-color: #31d0aa;
}

.footer-left{
    margin-right: 120px;
}

.subscribe-form-wrapper {
    margin-left: 80px;
    
}

.subscribe-form-input-wrapper {
    display: flex;
    align-items: center;
}

.subscribe-form-label {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-form-field {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    margin-top: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}

.subscribe-form-field::placeholder {
    color: var(--WHITE, #FFF);
}

.subscribe-btn {
    display: flex;
    font-family: "Roboto", sans-serif;
    padding: 8px 24px;
    margin-top: 16px;
    justify-content: center; 
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: var(--IRIS, #4D5AE5);
    min-width: 165px;
    height: 40px;
    color: var(--WHITE, #ffffff);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-field-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}

/* -----------BACKDROP----------- */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    border-radius: 50%;
    padding: 0px;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:hover .modal-close-button-icon use,
.modal-close-button:focus .modal-close-button-icon use {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}

.contacts-form-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 16px;
}

.contacts-form-wrapper {
    margin-bottom: 8px; 
}

.comment {
    margin-bottom: 16px;
}

.contacts-form-input-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.contacts-form-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE, #8E8F99);
    margin-bottom: 4px;
}

.contacts-form-field {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-field:focus {
    border-color: var(--IRIS, #4D5AE5);
    outline-offset: 4px;
}

.contacts-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-field:focus + .contacts-form-field-icon {
    fill: #4D5AE5;
}

.contacts-form-comment {
    width: 360px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.contacts-form-comment:focus {
    border-color: #4D5AE5;
    outline-offset: 4px;
}

.contacts-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.contacts-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE, #8E8F99);
}

.privacy-policy-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--IRIS, #4D5AE5);
}

.contacts-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    stroke-width: 1px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    cursor: pointer;
    fill: transparent;
    margin-right: 8px; 
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-checkbox:checked
 + .contacts-form-checkbox-label
.contacts-form-own-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.contacts-form-checkbox:focus
+ .contacts-form-checkbox-label 
.contacts-form-own-checkbox {
    outline: 1px solid #404BBF;
}

.contacts-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-btn:hover,
.contacts-form-btn:focus {
    background-color: #404BBF;
}